* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* positioning */
.main-content {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffff;
  padding-top: 30vh;
  text-align: center;
  line-height: 2;
}

/* card style */
.sales-card,
.orders-card,
.visitors-card {
  display: inline-block;
  min-width: 450px;
  border-radius: 10px;
  padding: 30px;
  font-size: 25px;
  text-align: left;
  margin: 20px;
  position: relative;
  overflow: hidden;
}

.sales-card {
  background: linear-gradient(
    90deg,
    rgba(255, 159, 124, 1) 0%,
    rgba(255, 127, 80, 1) 70%,
    rgba(255, 127, 80, 1) 100%
  );
}

.orders-card {
  background: linear-gradient(
    90deg,
    rgba(136, 157, 219, 1) 0%,
    rgba(38, 81, 209, 1) 70%,
    rgba(38, 81, 209, 1) 100%
  );
}

.visitors-card {
  background: linear-gradient(
    90deg,
    rgba(115, 222, 132, 1) 0%,
    rgba(31, 210, 154, 1) 70%,
    rgba(8, 176, 129, 1) 100%
  );
}

/* content style */

.cost,
.amount,
.number-people {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

.first-card-line {
  position: relative;
}

/* svg elements */
.chart-line,
.bookmark,
.diamond {
  position: absolute;
  top: 0;
  right: 0;
}

/* circle style */
.upper-transparent-circle,
.lower-transparent-circle {
  position: absolute;
  --size: 300px;
  border-radius: var(--size);
  width: var(--size);
  height: var(--size);
  background-color: #ffff;
  opacity: 0.33;
}

.upper-transparent-circle {
  top: -50px;
  left: 320px;
}
.lower-transparent-circle {
  top: 180px;
  left: 220px;
}
